
h1 {
  font-family:'Montserrat','Verdana','Monaco',sans-serif;
  font-size: 20px;
}

h3 {
  font-family:'Montserrat','Verdana','Monaco',sans-serif;
  font-size: 10px;
}

ion-img {
  height: 50vh;
  width: 50vw;
  margin: auto;
  margin-top: 10%;
  display: block;
}
